{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{ $featured_image_class := .Params.featured_image_class | compare.Default "cover bg-center" }}
  {{ $cover_dimming_class := .Params.cover_dimming_class | compare.Default (site.Params.cover_dimming_class | compare.Default "bg-black-60") }}
  <div class="site-nav-wrapper" id="site-nav-wrapper">
    {{ partials.Include "site-navigation.html" . }}
  </div>
  <header class="hero-parallax {{ $featured_image_class }}" id="hero-header" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ $cover_dimming_class }} hero-parallax__overlay">
      <div class="hero-parallax__content tc-l pv6 ph3 ph4-ns" id="hero-content">
        {{ if not .Params.omit_header_text }}
          <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | compare.Default .Site.Title }}</div>
          {{ with .Params.description  }}
            <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <div class="site-nav-wrapper site-nav-wrapper--solid" id="site-nav-wrapper">
    {{ partials.Include "site-navigation.html" . }}
  </div>
{{ end }}
